<!-- login.html -->
<div class="center-block" style="margin-top:10%;width:300px;">
  [[if .Error]]
  <div class="alert alert-danger" role="alert">[[.Error]]</div>
  [[end]]
  <form method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="[[.Username]]">
      <p class="text-danger">[[.Validate.username]]</p>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
      <p class="text-danger">[[.Validate.password]]</p>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="small" href="/register">No account? Register here</a>
    <!-- <button type="submit" class="btn btn-default">Register</button> -->
  </form>
</div>